./data//*
prepare_data/12
prepare_data/24
prepare_data/WIDER_train
prepare_data/net_7876
prepare_data/no_LM24
prepare_data/no_LM48
prepare_data/imglists
prepare_data/imglists_noLM
prepare_data/lfw_5590
logs
data
*.pyc
*.ipynb_checkpoints*